build/*
.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
.vscode/
zephyr/
modules/
.west/
crazyradio2.zip
.venv/
build_dongle/
build_blinky/
build_blinky_dongle/
build_echo/
build_radio/
build_uart/
build_uart_dongle/
build_uart_dongle_2/
build_vanilla/